body {

  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("neom-GCrvnNHJAMo-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:"poppins";
  color: #ddfdfd;
  

  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-background{
  background-color: transparent;
  backdrop-filter: blur(5px); 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Change this to the desired color */
  /*background-image: url("image.jpg"); /* Change this to the desired image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 100px;
  
}

@media (max-width: 768px) {
  .header-background {
    margin: 50px; /* Reduce margin for smaller devices */
  }
}

/* Media query for phones and smaller devices */
@media (max-width: 480px) {
  .header-background {
    margin: 20px; /* Reduce margin further for smaller devices */
  }
}


.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0 80px;
}


 .profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.profile-info-container {
  text-align: center;
}

.button-container {
  display: flex;
  padding: 10px 40px;
  font-size: 17px;
  font-weight: 500;
  /*background: #282c34;*/
  border-radius: 30px;
  justify-content: space-around;
 }
 
 button {
  padding: 2px;
  outline: 0;
  font-size: 17px;
  color: rgb(0, 0, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fdde5c),
    color-stop(#f8ab5e),
    color-stop(#f56a62),
    color-stop(#a176c8),
    color-stop(#759beb),
    color-stop(#65beb3),
    to(#70db96)
  );
  background: linear-gradient(
    to right,
    #fdde5c,
    #f8ab5e,
    #f56a62,
    #a176c8,
    #759beb,
    #65beb3,
    #70db96
  );
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}




.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 50px;
  padding: 0 80px;
  text-align: center;
  height: 100vh;
  /*background: #050808;*/
}
.banner > img {
  width: 60vw;
  transition: 0.1s
      linear;
}
.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    translate: -90px 0%;
  }
  100% {
    translate: 85px 0%;
  }
}

.waves > use {
  animation: move-forever 2s --2s
  infinite linear;
}

@media(width >= 420px){
  .banner > img {
    width: 40vw;
  }
}
@media (width >= 648px) {
  .banner > img {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}

.banner > img {
  width: 30vw;
}

.display-container{
  background-color: transparent;
  backdrop-filter: blur(5px); 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  height: 500px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content {
  color: #333; /* Add a text color */
}


.experience-container{
  align-items: center;
  justify-content: center;
  color: #f9f4f4;
}